.mySidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s;
  background: linear-gradient(180deg, #2e3091 0%, rgba(58, 163, 251, 0.5) 100%);
  box-shadow: 1px 0px 2px rgba(191, 191, 191, 0.5);
  z-index: 1030;
}

.mySidenav::-webkit-scrollbar {
  scrollbar-width: none;
}

.content {
  transition: 0.3s;
  margin-top: 0px;
  margin-left: 250px;
  background-color: #eff3fd;
  min-height: 100vh;
}

.dashboardNav {
  height: 100vh;
  padding-top: 20px;
}

.sidebarMenu {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.sidebarMenu__list {
  list-style: none;
}

/* .sidebarMenu__list__item:hover {
  border-left: 4px solid #c5521c;
  cursor: pointer;
} */

.sidebarMenu__list__item a {
  background: linear-gradient(180deg, #c5521c 0%, rgba(197, 82, 28, 0.49) 100%);
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25); */
  color: #fff !important;
  cursor: pointer;
}

.sidebarMenu__list__item a p {
  color: #fff !important;
}

.sidebarMenu__list__item__link {
  text-decoration: none;
  display: block;
  width: 80%;
  margin: 6px auto;
  padding: 8px 12px;
  border-radius: 10px;
}

.sidebarMenu__list__item__link p {
  margin: 0;
  line-height: 30px;
  font-size: 14px;
  position: relative;
  display: inline-block;
  height: auto;
  color: #fff;
}

.active {
  border-left: 4px solid #c5521c;
}
.active a {
  background: linear-gradient(180deg, #c5521c 0%, rgba(197, 82, 28, 0.49) 100%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  color: #fff !important;
}
.active a p {
  color: #fff !important;
}
